<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perks de Dead by Daylight</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Cartas de Magic</h1>
            <p>Nuestras cartas favoritas de Magic: The Gathering</p>
        </header>
        <article>
            <ul>
                <button class="mi-boton" onclick="alert('¡Botón presionado!')">Nueva Carta</button>
                <button class="mi-boton" onclick="alert('¡Botón presionado!')">Ver Cartas</button>
            </ul>
        </article>
        <footer>
            <p>&copy; 2024 Albert - Nil. All rights reserved</p>
        </footer>
    </body>
</html>